out/
.webpack/
report/
*.log
*.txt
tsc_out.txt
build_error.log
build_error_utf8.log
build_log.txt
build_verbose.log
forge.log
forge_utf8.log
out.log
startup_error.txt
startup_log_3.txt
startup_log_3_utf8.txt
tsc_output.txt
tsc_output_2.txt
tsc_output_2_utf8.txt
tsc_output_utf8.txt
node_modules
.agent/
.analysis/
.cursor/
